/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.2/checksums/checksums.lock
/.gradle/8.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.2/executionHistory/executionHistory.lock
/.gradle/8.2/fileHashes/fileHashes.lock
/.gradle/8.2/gc.properties
/.gradle/8.2/dependencies-accessors/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.gradle/8.2/fileChanges/last-build.bin
/.idea/.gitignore
/build/classes/java/main/com/cyberspeed/domain/Symbol.class
/build/libs/scratch-1.0-SNAPSHOT.jar
/build/test-results/test/TEST-com.cyberspeed.GameScenario.xml
/build/reports/tests/test/index.html
/build/tmp/.cache/expanded/expanded.lock
/build/classes/java/main/com/cyberspeed/domain/SymbolWeight.class
/.idea/modules/scratch.main.iml
/.gradle/8.2/fileHashes/resourceHashesCache.bin
/build/tmp/compileTestJava/previous-compilation-data.bin
/.idea/misc.xml
/build/classes/java/test/com/cyberspeed/GameScenario.class
/build/reports/tests/test/css/base-style.css
/.idea/jarRepositories.xml
/build/classes/java/main/com/cyberspeed/domain/BonusSymbols.class
/.gradle/buildOutputCleanup/outputFiles.bin
/build/resources/main/config.json
/.idea/gradle.xml
/build/test-results/test/binary/results.bin
/build/classes/java/main/com/cyberspeed/main/Main.class
/build/classes/java/main/com/cyberspeed/domain/WinCombination.class
/build/reports/tests/test/packages/com.cyberspeed.html
/build/reports/tests/test/classes/com.cyberspeed.GameScenario.html
/build/classes/java/main/com/cyberspeed/util/Util.class
/build/classes/java/main/com/cyberspeed/util/JsonUtil.class
/build/test-results/test/binary/output.bin
/build/resources/test/config.json
/build/tmp/compileJava/previous-compilation-data.bin
/build/classes/java/main/com/cyberspeed/main/ManualRun.class
/build/reports/tests/test/js/report.js
/.idea/modules.xml
/.gradle/8.2/fileHashes/fileHashes.bin
/.idea/compiler.xml
/build/classes/java/main/com/cyberspeed/domain/Output.class
/build/tmp/jar/MANIFEST.MF
/build/classes/java/main/com/cyberspeed/domain/Probabilities.class
/.gradle/8.2/executionHistory/executionHistory.bin
/build/classes/java/main/com/cyberspeed/util/WinCombinationChecker.class
/build/classes/java/main/com/cyberspeed/util/RewardCalculator.class
/.gradle/file-system.probe
/build/resources/main/config-2.json
/build/classes/java/main/com/cyberspeed/domain/Config.class
/build/test-results/test/binary/output.bin.idx
/build/classes/java/main/com/cyberspeed/util/SymbolGenerator.class
/.idea/vcs.xml
/build/reports/tests/test/css/style.css
